@inject IService service

<h2>Numbers: @service.GetFirst() and @service.GetSecond()</h2>

<h3>Add: @service.GetFirst() + @service.GetSecond() = @service.Add()</h3>
<h3>Sub: @service.GetFirst() - @service.GetSecond() = @service.Sub()</h3>
<h3>Mul: @service.GetFirst() * @service.GetSecond() = @service.Mul()</h3>
<h3>Div: @service.GetFirst() / @service.GetSecond() = @service.Div()</h3>