<h2>Numbers: @Model.firstValue and @Model.secondValue</h2>

<h3>Add: @Model.firstValue + @Model.secondValue = @Model.Add()</h3>
<h3>Sub: @Model.firstValue - @Model.secondValue = @Model.Sub()</h3>
<h3>Mul: @Model.firstValue * @Model.secondValue = @Model.Mul()</h3>
<h3>Div: @Model.firstValue / @Model.secondValue = @Model.Div()</h3>