@model Exercises

<h2>@Model.First  @Model.Operation @Model.Second = </h2>
@ViewBag.Result
<form method="post">
    <input name="InputAnswer" type="text">
    <br>
    <input name="First" value="@Model.First" style="display: none">
    <input name="Operation" value="@Model.Operation" style="display: none">
    <input name="Second" value="@Model.Second" style="display: none">
    <input type="submit" value="next" name="action">
    <input type="submit" value="finish" name="action">
</form>